nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1%;
  font-family: $font-calibri;
  box-shadow: 0 0 10px $main-black;
  text-transform: uppercase;
  transition: all 0.35s ease;
  z-index: 3;
  .main-container {
    width: 100%;
    background: $main-white;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px $main-black;
    text-transform: uppercase;
    transition: all 0.35s ease;
    z-index: 1;

    .main-header-logo {
      height: 5rem;
    }
    .main-header-dropdown-button {
      margin: 0 4%;
    }
  }
  .dropdown-menu {
    position: fixed;
    // padding: 5%;
    margin: 10% 10% 10% 10%;
    z-index: 3;
    opacity: 0.8;
    max-height: 100vh;
    min-height: 70vh;
    min-width: 80%;
    display: grid;
    // grid-template: auto;
    grid-template-areas: "main me" "main portfolio" "contact portfolio";
    gap: 2%;
    a {
      border: 1px #000000 solid;
      border-radius: 8%;
      text-align: center;
      padding: auto;
      color: $main-white;
      &:hover {
        color: $main-white;
      }
      div {
        margin-top: 50%;
      }
    }
    .dropdown-menu-main {
      grid-area: main;
      background-color: $main-green;
    }
    .dropdown-menu-me {
      grid-area: me;
      background-color: $main-blue;
    }
    .dropdown-menu-portfolio {
      grid-area: portfolio;
      background-color: $main-green;
    }
    .dropdown-menu-contact {
      grid-area: contact;
      background-color: $main-blue;
    }
  }
}
