.me {
  padding: 70px 4% 4% 4%;
  background-color: $main-gray-lgh;
  max-width: 100%;
  height: auto;

  .row {
    .me_title {
      text-transform: uppercase;
      font-weight: $heavy-font;
      font-size: 22px;
    }

    p {
      padding: 0 8%;
      justify-content: stretch;
    }
  }

  .me_technology {
    padding: 3%;
    margin: 0%;
    border-left: solid 2px $main-gray;
    border-bottom: solid 2px $main-gray;
    background-color: $main-gray;
    box-shadow: 10px 10px 5px $main-gray-hvr;
    color: $main-gray-lgh;

    .row {
      .me_title {
        text-transform: uppercase;
        font-weight: $heavy-font;
        font-size: 42px;
      }

      .me_text {
        margin: 30px;
      }

      .me_ico {
        font-size: 60px;

        &:hover {
          color: $main-green;
        }
      }

      .me_name {
        font-size: 20px;

        &:hover {
          color: $main-blue;
        }
      }
    }
  }
}
