.portfolio {
  width: auto;
  height: auto;
  max-width: 100%;
  // background-color: $main-gray;
  padding: 3%;
  margin: 4%;
  border: solid 2px $main-gray-hvr;
  box-shadow: 10px 10px 5px $main-gray-hvr;

  .slider {
    height: 100%;

    .project {
      width: 70%;
      // height: 50%;
      padding: 0 15%;
      display: flex;

      .project_img {
        width: 100%;
        padding: 5%;
      }

      a {
        opacity: 1;

        .project_button {
          margin: 10px;
          padding: 2%;
          color: $main-black;
          border-radius: 10px;
          cursor: pointer;
        }
      }

      .demo {
        background-color: $main-green;
      }

      .github {
        background-color: $main-blue;
      }

      .project_content {
        background-color: $main-gray-lgh;
      }
    }
  }
}
